*{margin:0;
    padding:0;
}
h1{
    color: rgb(0, 255, 34);
}
.encabezado{
    background-color: green;
    }

img{
    width: 40px;
    border-radius: 50%;
}
.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    padding: 12px 30px;
    display: block;
}
a:hover{
    background: rgb(44,44,44);
}
.encabezado nav ul li ul{
    display: flex;
    flex-direction: column;
}
.encabezado nav ul li ul{
    position: absolute;
    background: #008a93;
}
.encabezado nav ul li ul{
    display: none;
}
.encabezado nav ul li:hover > ul{
    display: block;
}
body{
    background-image: url('avion.png');
}
.from_boton{
    color:rgb(30, 14, 172);
    width: 75px;
    border-radius: 6px;
    padding: 2px;
    margin-left: auto;
}
button{
    text-align:center;
    font-weight: bold;
}
.formVuelos{
    text-align:initial;
    font-weight: bold;
}
form{
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    margin:auto;
    background-color: gray;
}
h1{
    text-align:center; 
}
div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
header{
    align-items: center;
}
h1 div form action{
    align-items: center;  
}

div{
    margin:20;
  
}
h2{
    font-size: 9px;

    color: rgb(1, 255, 34);   
}
