{% extends "base.html" %}

{% block title %} Vuelos {% endblock %}

{% block content %}
<br><br>
    <h1> Crear Vuelos </h1><br><br>
    <div>
    <form action="/Vuelos/save" id="formulario" method="POST" style="color:rgb(89, 0, 255)">
        {{form.hidden_tag()}}
        <div>
            {{ form.vuelo.label}}
            {{ form.vuelo(size=20)}}
        </div>
        <div>
            {{ form.aerolinea.label}}
            {{ form.aerolinea(size=21)}}
        </div>
        <div>
            {{ form.ciudad.label}}
            {{ form.ciudad(size=20)}}
        </div>
        <div>
            {{ form.hora.label}}
            {{ form.hora(size=19)}}
        </div>
        <div>
            {{ form.estado.label}}
            {{ form.estado(size=4)}} <br><br>
        </div>

        <div>
        {{ form.enviar(size=9)}}
        {{ form.consultar(size=9)}}
        {{ form.listar(size=9)}}
        {{ form.actualizar(size=9)}}
        {{ form.borrar(size=9)}}

        </div>
       
    </form>
</div>
    
{% endblock %}
